/* 
 * ##### Sasson - advanced drupal theming. #####
 *   
 * SITENAME theme main stylesheet.
 * 
 *  Index
 *  -----------
 *  1. General Sitewide Styles
 *    -- Bootstrap
 *    -- Layout
 *    -- General Styles
 *    -- Typography
 *    -- Links 
 *    -- Header
 *    -- Sidebars
 *    -- Footer
 *  2. Front Page
 *  3. Inner Pages
 *  4. Forms
 * 
 */
/*         General Sitewide Styles
 *************************************************/

@import 'compass/css3';


/*         General Sitewide Styles
 *************************************************/

@import 'partials/bootstrap/_mixins.scss';

// Core variables and mixins
@import 'partials/bootstrap/_variables.scss'; // Modify this for custom colors, font-sizes, etc
@import 'partials/bootstrap/_mixins.scss';

// CSS Reset
@import 'partials/bootstrap/_reset.scss';

// Grid system and page structure
@import 'partials/bootstrap/_scaffolding.scss';
@import 'partials/bootstrap/_grid.scss';
@import 'partials/bootstrap/_layouts.scss';

// Base CSS
@import 'partials/bootstrap/_type.scss';
@import 'partials/bootstrap/_code.scss';
@import 'partials/bootstrap/_forms.scss';
@import 'partials/bootstrap/_tables.scss';

// Components: common
/* @import 'partials/bootstrap/_font-awesome.scss'; */
@import 'partials/bootstrap/_dropdowns.scss';
@import 'partials/bootstrap/_wells.scss';
@import 'partials/bootstrap/_component-animations.scss';
@import 'partials/bootstrap/_close.scss';

// Components: Buttons & Alerts
@import 'partials/bootstrap/_buttons.scss';
@import 'partials/bootstrap/_button-groups.scss';
@import 'partials/bootstrap/_alerts.scss'; // Note: alerts share common CSS with buttons and thus have styles in buttons.scss

// Components: Nav
@import 'partials/bootstrap/_navs.scss';
@import 'partials/bootstrap/_navbar.scss';
@import 'partials/bootstrap/_breadcrumbs.scss';
@import 'partials/bootstrap/_pagination.scss';

// Components: Popovers
@import 'partials/bootstrap/_modals.scss';
@import 'partials/bootstrap/_tooltip.scss';
@import 'partials/bootstrap/_popovers.scss';

// Components: Misc
@import 'partials/bootstrap/_thumbnails.scss';
@import 'partials/bootstrap/_labels.scss';
@import 'partials/bootstrap/_progress-bars.scss';
@import 'partials/bootstrap/_accordion.scss';
@import 'partials/bootstrap/_carousel.scss';
@import 'partials/bootstrap/_hero-unit.scss';

// Utility classes
@import 'partials/bootstrap/_utilities.scss'; // Has to be last to override when necessary

// Custom
@import 'partials/custom/_common.scss';
@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here); // Google fonts
@import "960/grid";


  /* Layout */
#header {
  background: #ff3399;
}

#header, #footer {
  margin: 0;
  width: 100%;

  .wrapper {
    @include grid-container;

    .inner {
      @include grid(12);
      position: relative;
    }
  }
}

#page {
  clear: both;
}

#region-content-top {
  position: relative;
}
  /* General Styles (Colors, Backgrounds etc.) TODO: PLACE ELSEWHERE*/
a:hover {
  text-decoration:none;
}

dd {
  margin-bottom: 2.5em;
}

.vertical-tabs .form-type-textfield input {
  -moz-box-sizing: content-box; /* prevet from collapsing in FF*/
  width: 100%;
}
li a.active {
  color: #0088CC;
  }
.submitted {
  color: #999;
}
.field-type-image {
  margin: 0 0 20px 0;
}
.field-name-body {
  margin: 20px 0;
}

  /* Typography */
.handwriting {
  font-family: 'Just Me Again Down Here', cursive;
  border: medium none !important;
  font-size: 3.2em !important;
}

  /* Links */

  /* Buttons */
.big-button {
  @include border-radius(15px);
  color: white !important;
  font-size: 24px;
  @include text-shadow(rgba(black, 0.35) 0 -1px 0);
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 20px 15px;
  background-color: $color-bt-dark; // For browser that dont support gradient backround
  @include background-image(linear-gradient($color-bt-light, $color-bt-dark)); // Bootstrap had a overwrite on box-shadow that did not allow for more then one parameter. I commented out line 324-328 in _mixins.scss.
  @include box-shadow($color-bt-highlight 0 1px 0 inset);
  border: 1px solid $color-bt-dark;

  &:hover {
    @include background-image(linear-gradient(lighten($color-bt-light, 5%), $color-bt-dark));
    @include box-shadow(lighten($color-bt-highlight, 15%) 0 1px 0 inset);
  }

  small {
    font-weight: normal;
    letter-spacing: 0.5em;
    text-align: right;
    color: darken($color-bt-dark, 20%);
    display: block;
    margin: 5px -0.5em -15px 0;
  }
}

#footer .big-button {
  background-color: $color-footer-bt-dark;
  @include background-image(linear-gradient($color-footer-bt-light, $color-footer-bt-dark));
  @include box-shadow($color-footer-bt-highlight 0 1px 0 inset);
  border: 1px solid $color-footer-bt-dark;

  &:hover {
    @include background-image(linear-gradient(lighten($color-footer-bt-light, 5%), $color-footer-bt-dark));
    @include box-shadow(lighten($color-footer-bt-highlight, 15%) 0 1px 0 inset);
  }
}

  /* header */



#block-menu-menu-top-menu {
  position:absolute;
  top:0;
  right: 0;
  float: right;
    
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
      
      a {
        color: white;
      }
  }
}

  h1#site-name a {
    float: left;  
    color: #fff;
    font-size: 50px;
    @include text-shadow(#325A90 0 -1px 0);
    margin-top: 50px;
  }

#header {
  background: url(../img/header-bg.png) 0 0 repeat-x;
  height: 125px;
  position: relative;

  #block-system-main-menu {
    
    ul {
      width: auto;
      float: right;
      margin: 65px 0 0;
    }

    li {
      display: block;
      float: left;

      a {
        color: #fff;
        font-weight: bold;
        font-size: 13px;
        line-height:14x;
        padding: 7px 10px;
        border-radius: 4px;

        &:hover, &.active-trail {
          background: #4D82C5;
        }
      }
    }
  }
}



  /* Sidebars */

  /* Footer */

#footer {
  background: #000;
  border-bottom: 5px solid #76AFF2;
  overflow:auto;
  a {
    color: #80BAFD;
  }
  .block {
    width: 300px;
    height: 200px;
    float: left;
    margin: 20px 20px 0 0;
    }
  #block-block-6 {
    margin-right: 0;
  }
  #block-block-7 {
    text-align:center;
    margin: 20px auto;
    clear: both;
    float: none;
    height: 100%;
  }  
}

#footer h2 {
  font-size: 21px;
  font-weight: normal;
  color: #fff;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
}

/**
 * Blocks
 */

// Hva er drupal blocks
.region-content-bottom {
  padding-top: 10px;
  border-top: 1px solid #E7E7E7;
  overflow: auto;
  
  .block {
    @include grid(4);
    background: url(../img/front-imgs.jpg) 0 0 no-repeat;
    padding-top: 200px;
  }

  h2 {
    font-size: 16px;
    line-height: 21px;
  }

  #block-block-1 {
    @include alpha;
  }

  #block-block-2 {
    background-position: -324px 0;
  }

  #block-block-3 {
    margin-right: 0;
    background-position: -643px 0;
    @include omega;
  }
}


/**
 * Leverandører
 */

.view-leverandorer {
  .views-row {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    overflow: auto;
    clear: both;
    img {
      border: 1px solid #E7E7E7;
      display: block;
      float: left;
      padding: 1px;
    }
    section {
      float: left;
      background: $color-bg-light;
      padding: 17px 16px;
      overflow: auto;
      height: 84px;
      width: 400px;
      margin-top: 8px;
      h2 {
        line-height: 22px;
        margin-bottom: 10px;
      }
      .where {
        float: right;
        padding: 6px;
        font-size: 11px;
        line-height: 11px;
        background: #B5D5FF;
        text-transform: uppercase;
        font-weight: normal;
        font-style: normal;
        @include text-shadow(white 0 1px 0);
        @include border-radius(3px);
      }
    }
  }  
}

/**
 * Hva er drupal
 */

#block-menu-menu-hva-er-drupal .content {
  font-size: 1.3em;
  border-bottom: 1px solid $color-grayLight;
  background: white url(../img/bg-menu-tab.png) no-repeat 0 bottom;
  margin-top: 30px;
  text-transform: collapsing;

  ul {
    margin: 0 0 -1px;
  }

  li {
    float: left;
    list-style: none;
  }

  a {
    padding: 15px 0;
    text-align: center;
    width: 274px;
    display: block;

    &:hover {
      color: $linkColorHover;
    }

    &.active {
      background: transparent url(../img/active-tab.png) no-repeat;
      color: $grayDark;
    }
  }
}

