/* 
 * ##### Sasson - advanced drupal theming. #####
 *   
 * SITENAME theme main stylesheet.
 * 
 *  Index
 *  -----------
 *  1. General Sitewide Styles
 *    -- Bootstrap
 *    -- Layout
 *    -- General Styles
 *    -- Typography
 *    -- Links 
 *    -- Header
 *    -- Sidebars
 *    -- Footer
 *  2. Front Page
 *  3. Inner Pages
 *  4. Forms
 * 
 */
/*         General Sitewide Styles
 *************************************************/

@import 'compass/css3';


/*         General Sitewide Styles
 *************************************************/

@import 'partials/bootstrap/_mixins.scss';

// Core variables and mixins
@import 'partials/bootstrap/_variables.scss'; // Modify this for custom colors, font-sizes, etc
@import 'partials/bootstrap/_mixins.scss';

// CSS Reset
@import 'partials/bootstrap/_reset.scss';

// Grid system and page structure
@import 'partials/bootstrap/_scaffolding.scss';
@import 'partials/bootstrap/_grid.scss';
@import 'partials/bootstrap/_layouts.scss';

// Base CSS
@import 'partials/bootstrap/_type.scss';
@import 'partials/bootstrap/_code.scss';
@import 'partials/bootstrap/_forms.scss';
@import 'partials/bootstrap/_tables.scss';

// Components: common
@import 'partials/bootstrap/_font-awesome.scss';
@import 'partials/bootstrap/_dropdowns.scss';
@import 'partials/bootstrap/_wells.scss';
@import 'partials/bootstrap/_component-animations.scss';
@import 'partials/bootstrap/_close.scss';

// Components: Buttons & Alerts
@import 'partials/bootstrap/_buttons.scss';
@import 'partials/bootstrap/_button-groups.scss';
@import 'partials/bootstrap/_alerts.scss'; // Note: alerts share common CSS with buttons and thus have styles in buttons.scss

// Components: Nav
@import 'partials/bootstrap/_navs.scss';
@import 'partials/bootstrap/_navbar.scss';
@import 'partials/bootstrap/_breadcrumbs.scss';
@import 'partials/bootstrap/_pagination.scss';

// Components: Popovers
@import 'partials/bootstrap/_modals.scss';
@import 'partials/bootstrap/_tooltip.scss';
@import 'partials/bootstrap/_popovers.scss';

// Components: Misc
@import 'partials/bootstrap/_thumbnails.scss';
@import 'partials/bootstrap/_labels.scss';
@import 'partials/bootstrap/_progress-bars.scss';
@import 'partials/bootstrap/_accordion.scss';
@import 'partials/bootstrap/_carousel.scss';
@import 'partials/bootstrap/_hero-unit.scss';

// Utility classes
@import 'partials/bootstrap/_utilities.scss'; // Has to be last to override when necessary

// Custom
@import 'partials/custom/_common.scss';
// @import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here); // Google fonts
@import "960/grid";


::-moz-selection {
  background: $color-bt-light;
}

::selection {
  background-color: $color-bt-light;
}
/* Push footer to bottom */
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -298px; /* the bottom margin is the negative value of the footer's height */
}

#footer, .push {
  height: 268px; /* .push must be the same height as .footer */
}

#footer {
  height: 263px;
}

  /* Layout */
#header {
  background: #ff3399;
}

#header, #footer {
  margin: 0;
  width: 100%;

  .wrapper {
    @include grid-container;

    .inner {
      @include grid(12);
      position: relative;
    }
  }
}

#page {
  clear: both;
}

#region-content-top {
  position: relative;
}
  /* General Styles (Colors, Backgrounds etc.) TODO: PLACE ELSEWHERE*/
a:hover {
  text-decoration:none;
}

dd {
  margin-bottom: 2.5em;
}

.vertical-tabs .form-type-textfield input {
  -moz-box-sizing: content-box; /* prevet from collapsing in FF*/
  width: 100%;
}
li a.active {
  color: #0088CC;
  }
.submitted {
  color: #999;
}
.field-type-image {
  margin: 0 0 20px 0;
}

  /* Typography */
.handwriting {
  font-family: 'Just Me Again Down Here', cursive;
}

h2.handwriting {
  border: medium none !important;
  font-size: 3.2em !important;
}

  /* Links */

  /* Buttons */
.big-button {
  @include border-radius(15px);
  color: white !important;
  font-size: 24px;
  @include text-shadow(rgba(black, 0.35) 0 -1px 0);
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 20px 15px;
  background-color: $color-bt-dark; // For browser that dont support gradient backround
  @include background-image(linear-gradient($color-bt-light, $color-bt-dark)); // Bootstrap had a overwrite on box-shadow that did not allow for more then one parameter. I commented out line 324-328 in _mixins.scss.
  @include box-shadow($color-bt-highlight 0 1px 0 inset);
  border: 1px solid $color-bt-dark;

  &:hover {
    background-color: lighten($color-bt-dark, 4%);
    @include background-image(linear-gradient(lighten($color-bt-light, 5%), $color-bt-dark));
    @include box-shadow(lighten($color-bt-highlight, 15%) 0 1px 0 inset);
  }

  small {
    font-weight: normal;
    letter-spacing: 0.5em;
    text-align: right;
    color: darken($color-bt-dark, 20%);
    display: block;
    margin: 5px -0.5em -15px 0;
  }
}

.button {
  @extend .big-button;
  padding: 10px 15px;
  font-size: 16px;

  &.cta {
    background-color: $color-cta-bt-dark;
    @include background-image(linear-gradient($color-cta-bt-light, $color-cta-bt-dark));
    @include box-shadow($color-cta-bt-highlight 0 1px 0 inset);
    border-color: $color-cta-bt-dark;

    &:hover {
      background-color: lighten($color-cta-bt-dark, 4%);
      @include background-image(linear-gradient(lighten($color-cta-bt-light, 5%), $color-cta-bt-dark));
      @include box-shadow(lighten($color-cta-bt-highlight, 15%) 0 1px 0 inset);
    }
  }
}

#footer .big-button {
  background-color: $color-footer-bt-dark;
  @include background-image(linear-gradient($color-footer-bt-light, $color-footer-bt-dark));
  @include box-shadow($color-footer-bt-highlight 0 1px 0 inset);
  border: 1px solid $color-footer-bt-dark;

  &:hover {
    background-color: lighten($color-footer-bt-dark, 4%);
    @include background-image(linear-gradient(lighten($color-footer-bt-light, 5%), $color-footer-bt-dark));
    @include box-shadow(lighten($color-footer-bt-highlight, 15%) 0 1px 0 inset);
  }

  small {
    color: darken($color-footer-bt-dark, 20%);
  }
}

/* header top */
#header_top {
  // background-color: $color-grayLighter;

  .wrapper {
    @include grid-container;
  }

  .block-menu {
    @include grid(12);
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0;
      float: right;
      margin-left: 1px;
      border-left: 1px solid darken($color-grayLighter, 5%);
      // border-right: 1px solid darken($color-blue, 5%);

      &.first {
        border-right: 1px solid darken($color-grayLighter, 5%);
      }
    }

    a {
      color: $gray;
      padding: 5px 10px;
      // background-color: $color-grayLighter;
      display: block;

      &:hover {
        background-color: $color-grayLighter;
      }
    }
  }
}

/* header */
h1#site-name a {
  float: left;  
  color: #fff;
  font-size: 43px;
  @include text-shadow(#325A90 0 -1px 0);
  margin-top: 27px;
}

#header {
  // background: url(../img/header-bg.png) 0 0 repeat-x;
  background-color: #6ba2e6;
  @include background-image(linear-gradient($color-blueHightlight, $color-blue));
  height: 85px;
  position: relative;
  margin-bottom: 20px;

  #block-menu-block-1 {
    
    ul {
      width: auto;
      float: right;
      margin: 48px 0 0;
    }

    li {
      display: block;
      float: left;
      margin: 0 0 0 10px;
      padding: 0;

      a {
        color: #fff;
        font-weight: bold;
        font-size: 13px;
        line-height: 14x;
        padding: 7px 10px;
        border-radius: 4px;

        &:hover, &.active-trail {
          background: #4D82C5;
        }
      }
    }
  }
}

/* Sidebars */

/* Footer */

#footer {
  background: #000;
  border-bottom: 5px solid #76AFF2;
  overflow:auto;
  margin-top: 30px;

  a {
    color: #80BAFD;
  }

  .block {
    width: 300px;
    height: 200px;
    float: left;
    margin: 20px 20px 0 0;
    }
  
  #block-block-6 {
    margin-right: 0;
  }
  
  #block-block-7 {
    text-align:center;
    margin: 20px auto;
    clear: both;
    float: none;
    height: 100%;
  }  
}

#footer h2 {
  font-size: 21px;
  font-weight: normal;
  color: #fff;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
}

/**
 * Blocks
 */

// Sidebar default
#sidebar-second {

  .block {
    margin: 0 0 30px;
  }

  h1 {
    font-size: 30px * 0.8;
  }

  h2 {
    font-size: 24px * 0.8;
  }

  h3 {
    font-size: 18px * 0.8;
  }

  h4 {
    font-size: 14px * 0.8;
  }

  li { 
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }
}

// Call to action, Leverandører block
#block-block-9 {
  //text-align: center;
  background: transparent url('../img/map-norway.png') no-repeat center bottom;
  padding: 65px 0 38px;
  color: $gray;
  
  p {
    font-size: 1.3em;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

// Content bottom article blocks
.region-content-bottom {
  padding-top: 10px;
  border-top: 1px solid #E7E7E7;
  overflow: auto;

  ul {
    list-style: none;
  }

  li {
    list-style: none;
    @include grid(4);
    padding-top: 200px;

    &.views-row-first {
      @include alpha;
    }

    &.views-row-last {
      @include omega;
    }
  }

  h2 {
    font-size: 16px;
    line-height: 21px;
  }

  img {
    margin-bottom: 10px;
  }
}


/**
 * Leverandører
 */

.view-leverandorer {
  .views-row {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    overflow: auto;
    clear: both;
    img {
      border: 1px solid #E7E7E7;
      display: block;
      float: left;
      padding: 1px;
    }
    section {
      float: left;
      background: $color-bg-light;
      padding: 17px 16px;
      overflow: auto;
      height: 84px;
      width: 400px;
      margin-top: 8px;
      h2 {
        line-height: 22px;
        margin-bottom: 8px;
      }
      .where {
        float: right;
        padding: 6px;
        font-size: 11px;
        line-height: 11px;
        background: #B5D5FF;
        text-transform: uppercase;
        font-weight: normal;
        font-style: normal;
        @include text-shadow(white 0 1px 0);
        @include border-radius(3px);
      }
    }
  }

  i {
    margin-right: 6px;
  }

  .website {
    font-size: 1.2em;
    display: block;
    line-height: 1.6em;
  }

  .mail {
    margin-left: 15px;
  }
}

/**
 * Referanser
 */
.view-references {

  img {
    border: 1px solid $grayLighter;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.4em;
  }

  .views-row {
    @include grid(4);
    margin-bottom: 30px;
  }

  .views-row-1, .views-row-4, .views-row-7, .views-row-10, .views-row-13 {
    @include alpha;
  }

  .views-row-3, .views-row-6, .views-row-9, .views-row-12, .views-row-15 {
    @include omega;
  }
}

/**
 * Hva er drupal
 */

// Tabs
.region-content-top {

  .block-menu .content, .block-menu-block .content {
    font-size: 1.3em;
    border-bottom: 1px solid $color-grayLight;
    background: white url(../img/bg-menu-tab.png) no-repeat 0 bottom;
    text-transform: capitalize;
    margin-bottom: 30px;

    ul {
      margin: 0 auto -1px;
      // width: 822px;
      text-align: center;
    }

    li {
      // float: left;
      display: inline-block;
      *display: inline; // IE7 fix for inline-block
      zoom: 1;          // IE7 fix for inline-block
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      padding: 15px 0;
      text-align: center;
      width: 274px;
      display: block;

      &:hover {
        color: $linkColorHover;
      }

      &.active {
        background: transparent url(../img/active-tab.png) no-repeat;
        color: $grayDark;
      }
    }
  }
}

/**
 * Banner
 */
.baner-page-fields {
  position: relative;
  font-size: 1.3em;
  border: 1px solid $color-grayLight;

  h2 {
    font-size: 2em;
    margin-bottom: 0.3em;
    color: white;
  }

  p {
    font-size: 1em;
    line-height: 1.2em;
    color: white;
  }

  .views-field-body .wrapper {
    display: block;
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    width: 50%;
    // background: rgba(white, 0.8);

    &.dark {
      // background: rgba(black, 0.8);

      h2 {
        color: black;
      }

      p {
        color: $grayDark;
      }
    }

    &.center {
      text-align: center;
      right: 25%;
    }

    &.right {
      text-align: right;
      right: 0;
    }
  }
}