/**
 * Colors
 */

// Button default
$color-bt-dark: #4679BF;
$color-bt-light: #81BCFF;
$color-bt-highlight: #A6D8FF;

// Button in footer
$color-footer-bt-dark: #7E9F3A;
$color-footer-bt-light: #B2E355;
$color-footer-bt-highlight: lighten($color-footer-bt-light, 20%);

// Elements
$color-bg-light: #F8FBFB;
